*{
	box-sizing: border-box;
	margin:0px;
	padding: 0px;
}
div{	
	height: 100px;
	width: 200px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.franja1{
	background-color: yellow;
	padding:10px;
}
.franja2{
	background-color: red;
	padding:10px;	
}
.franja3{
	background-color: yellow;
	padding:10px;
}